<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card>
     <ion-img src="https://picsum.photos/id/10/200/200"></ion-img>
     <ion-card-header>
       <ion-card-title>Dummy Image</ion-card-title>
     </ion-card-header>
   </ion-card>
   <ion-card>
     <ion-img src="https://picsum.photos/id/2/200/200"></ion-img>
     <ion-card-header>
       <ion-card-title>Dummy Image</ion-card-title>
     </ion-card-header>
   </ion-card>
   <ion-card>
     <ion-img src="https://picsum.photos/id/32/200/200"></ion-img>
     <ion-card-header>
       <ion-card-title>Dummy Image</ion-card-title>
     </ion-card-header>
   </ion-card>
   <ion-card>
     <ion-img src="https://picsum.photos/id/40/200/200"></ion-img>
     <ion-card-header>
       <ion-card-title>Dummy Image</ion-card-title>
     </ion-card-header>
   </ion-card>
   <ion-card>
     <ion-img src="https://picsum.photos/id/51/200/200"></ion-img>
     <ion-card-header>
       <ion-card-title>Dummy Image</ion-card-title>
     </ion-card-header>
   </ion-card>
   <ion-card>
     <ion-img src="https://picsum.photos/id/16/200/200"></ion-img>
     <ion-card-header>
       <ion-card-title>Dummy Image</ion-card-title>
     </ion-card-header>
   </ion-card>
</ion-content>
